body {
	margin: 0;
	padding: 0;
	display: inline-flex;
	/* justify-content: center; */
	align-items: flex-start;
	min-height: 100vh;
	font-family: Arial, sans-serif;
	background-color: white; /* Soft gray background */
}

/* .container {
	max-width: 1200px;
	padding: 20px;
	background-color: white; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 10px; 
} */

.header {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */

	position: fixed; /* or absolute */
	top: 0; /* position at the bottom of the page */
	left: 50%; /* center horizontally */
	transform: translateX(-50%); /* adjust for the width of the div */
	text-align: center; /* center the buttons horizontally */
}

.header2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px; /* adjust the value to position it below the .header */
}

.header2 * {
	margin-right: 10px; /* add some space between child elements */
}

.add-friend-button {
	/* margin-top: 20px; adjust the value to position it below the .header2 */
}

.date-text {
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	color: black;
}

.groups {
	/* text-align: center; */
	color: black;
}

.task-list-container {
	display: flex;
	flex-wrap: nowrap; /* Changed from wrap to nowrap */
	justify-content: flex-start; /* Changed from center to flex-start */
	margin-top: 100px;
	overflow-x: auto; /* Added overflow-x: auto */
}

.task-list {
	/* margin: 10px; */
	margin-left: 10px; /* Added margin-left: 0 */
	margin-right: 10px;
	width: calc(25% - 20px);
}

h2 {
	text-align: center;
	margin-top: 10px;
	color: black;
	font-weight: lighter;
}

.task-card {
	background-color: #f9f9f9; /* Light gray background */
	border: 1px solid #ddd; /* Light gray border */
	padding: 10px;
	border-radius: 4px;
}

.task-item {
	background-color: #f9f9f9; /* Light gray background */
	border: 1px solid #ddd; /* Light gray border */
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	color: #d32f2f;
}

.task-item button {
	background-color: #f44336; /* Red button */
	margin-top: 5px;
}

.task-item button:hover {
	background-color: #d32f2f; /* Darker red hover */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
	.task-list-container {
		flex-direction: column;
		align-items: center;
		overflow-y: auto; /* Added overflow-y: auto */
		max-height: 70vh; /* Added max-height: 70vh */
	}
	.task-list {
		width: 100%;
		margin: 10px 0;
	}
}
