body {
	margin: 0;
	padding: 0;
	display: inline-flex;
	/* justify-content: center; */
	align-items: flex-start;
	min-height: 100vh;
	font-family: Arial, sans-serif;
	background-color: white; /* Soft gray background */
}

.container {
	max-width: 1200px;
	padding: 20px;
	background-color: white; /* White background */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 10px; /* Rounded corners */
}

.date-container {
	display: flex;
	justify-content: calc(25%-20px);
	align-items: center;
	flex-direction: column;
}

.date-text {
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	color: black;
}

h4 {
	text-align: center;
	margin-top: 10px;
	color: black;
}

.task-list-container {
	display: flex;
	flex-wrap: nowrap; /* Changed from wrap to nowrap */
	justify-content: flex-start; /* Changed from center to flex-start */
	margin-top: 20px;
	overflow-x: auto; /* Added overflow-x: auto */
}

.task-list {
	/* margin: 10px; */
	margin-left: 10px; /* Added margin-left: 0 */
	margin-right: 10px;
	width: calc(25% - 20px);
}

h2 {
	text-align: center;
	margin-top: 10px;
	color: black;
}

.task-card {
	background-color: #f9f9f9; /* Light gray background */
	border: 1px solid #ddd; /* Light gray border */
	padding: 10px;
	border-radius: 4px;
}

.task-item {
	background-color: #f9f9f9; /* Light gray background */
	border: 1px solid #ddd; /* Light gray border */
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	color: #d32f2f;
}

.task-item button {
	background-color: #f44336; /* Red button */
	margin-top: 5px;
}

.task-item button:hover {
	background-color: #d32f2f; /* Darker red hover */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
	.task-list-container {
		flex-direction: column;
		align-items: center;
		overflow-y: auto; /* Added overflow-y: auto */
		max-height: 70vh; /* Added max-height: 70vh */
	}
	.task-list {
		width: 100%;
		margin: 10px 0;
	}
}
